#game-team-form {
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column
}

.title {
    max-width: 15rem;
    margin-right: 10px;
}

.description {
    max-width: 20rem;
    width: 100%;
}

.class-icon {
    max-width: 50px;
}

mat-form-field {
    margin-left: 30px;
}

.class-count {
    width: 40px;
}

.class-block {
    display: flex;
    justify-content: center;
}